<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<header class="col-md-12 panel panel-login panel-heading">
	<h1>NOTAS</h1>
	<label>Significado de siglas</label>
	<label>* T#: Tarea número X</label>
	<label>* P#: Proyecto número X</label>
	<label>* Q#: Quiz número X</label>
</header>

<div>
	<div class="col-md-12 panel panel-login panel-heading">
		<table class="table text-center table-hover">
			<thead>
			<tr>
			  	<th *ngFor="let a of curso.asignaciones"> {{ a.tipo[0].toUpperCase() + a.num.toString() + " - " + a.porcentaje.toString() + "%" }} </th>
			  	<th>Nota</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			  	<td class="text-left" *ngFor="let n of evaluacion.asignaciones"> {{n.nota}} </td>
			  	<td> {{ calcularNota().toString() }} </td>
			</tr>
			</tbody>
		</table>
	</div>
</div>