<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<div class="container">
	<div class="row col-md-10 col-md-offset-1 row col-lg-12 panel panel-login panel-heading">
		<table class="table text-center table-hover">
			<thead>
			<tr>
			  	<th>Tipo</th>
			  	<th>Numero</th>
			  	<th>Nota</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let asignacion of evaluacion.asignaciones">
			  	<td class="text-left">{{ asignacion.tipo }}</td>
			  	<td class="text-left">{{ asignacion.num }}</td>
			  	<td class="text-left">{{ asignacion.nota }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
