<div class="container">
	<div class="row">
		<div class="col-md-11 col-md-offset-3">
			<div class="panel panel-register">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<a href="#" class="active" id="login-form-link-1">Actualizar</a>
						</div>
					</div>
					<hr>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form id="login-form" method="post" role="form" style="display: block;">							
								<div class="form-group">
									<input type="text" [(ngModel)]="carrera.nombre" name="nombre" id="nombre" tabindex="1" class="form-control" placeholder="Nombre de carrera" value="">
								</div>
								<div class="form-group">
									<input type="text" [(ngModel)]="materia" name="escuela" id="escuela" tabindex="1" class="form-control" placeholder="Nombre de materia" value="">			
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button (click)="agregarMateria()" class="form-control btn btn-addSub">AGREGAR MATERIA</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-login">
				<div class="panel-heading">
					<table class="table text-center table-hover">
						<thead>
						<tr>
						  	<th>Materia</th>					  	
						  	<th>Operaciones</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let materia of materias">
						  	<td>{{ materia.nombre }}</td>
						  	<td>
						  		<button class="btn btn-success" (click)="editarMateria(materia)">
							      	<i class="fa fa-edit"></i>
							    </button>	
						    	<button class="btn btn-danger" (click)="eliminarMateria(materia)">
						      	<i class="fa fa-trash"></i>
						    	</button>
						  	</td>
						</tr>
						</tbody>
					</table>


					<form id="login-form" method="post" role="form" style="display: block;">
						<div class="form-group">
							<label>
								Materia: {{ materiaSeleccionada.nombre }}
							</label>
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="tema" name="tema" id="tema" tabindex="3" class="form-control" placeholder="Nombre de la tema" value="">			
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button (click)="agregarTema()" class="form-control btn btn-addSub">AGREGAR TEMA</button>
								</div>
							</div>
						</div>
					</form>
					<table class="table text-center table-hover">
						<thead>
						<tr>
						  	<th>Tema</th>					  	
						  	<th class="text-center">Operaciones</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let tema of temas">
						  	<td class="text-left">{{ tema.nombre }}</td>
						  	<td class="text-center">
						  		<button class="btn btn-success" (click)="editarTema(tema)">
						      	<i class="fa fa-edit"></i>
						    	</button>
						    	<button class="btn btn-danger" (click)="eliminarTema(tema)">
						      	<i class="fa fa-trash"></i>
						    	</button>
						  	</td>
						</tr>
						</tbody>
					</table>

					<form id="login-form" method="post" role="form" style="display: block;">
						<div class="form-group">
							<label>
								Tema: {{ temaSeleccionado }}
							</label>
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="subtema" name="subtema" id="subtema" tabindex="5" class="form-control" placeholder="Nombre de la subtema" value="">			
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button (click)="agregarSubtema()" class="form-control btn btn-addSub">AGREGAR SUBTEMA</button>
								</div>
							</div>
						</div>
					</form>
					<table class="table text-center table-hover">
						<thead>
						<tr>
						  	<th>Sub-tema</th>					  	
						  	<th class="text-center">Operaciones</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let subtema of subtemas">
						  	<td class="text-left">{{ subtema }}</td>
						  	<td class="text-center">
						    	<button class="btn btn-danger" (click)="eliminarSubtema(subtema)">
						      	<i class="fa fa-trash"></i>
						    	</button>
						  	</td>
						</tr>
						</tbody>
					</table>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button (click)="actualizarCarrera()" class="form-control btn btn-register">ACTUALIZAR</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>