<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<form id="login-form" method="post" role="form" style="display: block;">
								<h1>Matricula de estudiante</h1>
								<div class="panel panel-login">
									<div class="panel-heading">
										<div class="row">
											<div class="col-lg-12">
												<form id="login-form" method="post" role="form" style="display: block;">
													<table class="table text-center table-hover">
															<thead>
															<tr>
																<th>[]</th>
  																<th>Materia</th>
  																<th>Grupo</th>
  																<th>Profesor</th>
  																<th>Horario</th>
										 						</tr>
															</thead>
															<tbody>
															<tr *ngFor="let curso of cursos">
  																<td>
  																	
    															<input type="checkbox" [checked]="curso.isRegistration" (click)="agregarEstudiante_Curso(curso)">
 																</td>
  																<td>{{ curso.nombre}}</td>
  																<td>{{ curso.numeroGrupo}}</td>
  																<td>{{ curso.profesor}}</td>
  																<td>{{ curso.horario}}</td>
																 </tr>
															 </tbody>
													</table>
												</form>	
											</div>
										</div>
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

