<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<header class="col-md-12 panel panel-login panel-heading">
	<nav>
		<ul>
			<li><a (click)="evaluaciones()">Notas</a></li>
			<li><a (click)="asistencia()">Asistencia</a></li>
		</ul>
	</nav>
</header>

<div class="container">
	<div class="row col-md-10 col-md-offset-1 row col-lg-12 panel panel-login panel-heading">
		<table class="table text-center table-hover">
			<thead>
			<tr>
			  	<th>Emisor</th>
			  	<th>Mensaje</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let mensaje of mensajes">
			  	<td class="text-left">{{ mensaje.emisor }}</td>
			  	<td class="text-left">{{ mensaje.mensaje }}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-10 col-md-offset-1 panel panel-login panel-heading">
		<input type="text" name="profesor" tabindex="0" class="form-control col-md-11" placeholder="Ingrese su mensaje" [(ngModel)]="mensaje" value="">
		<button class="btn btn-success" (click)="nuevoMensaje(curso)">			
		<i class="fa fa-paper-plane"></i>
    	</button>
	</div>
</div>
