<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<form id="login-form" method="post" role="form" style="display: block;">
								<h1>Creación de mallas curriculares</h1>
								<div class="form-group">
									<input type="text" [(ngModel)]="materia" name="materia" id="materia" tabindex="1" class="form-control" placeholder="Nombre de la materia del grupo" value="">
								</div>
								<div class="form-group">
									<input type="text" [(ngModel)]="grupo" name="grupo" id="grupo" tabindex="1" class="form-control" placeholder="Número de grupo" value="">			
								</div>
								<div class="form-group">
									<input type="text" [(ngModel)]="profesor" name="profesor" id="profesor" tabindex="1" class="form-control" placeholder="Número de grupo" value="">	
								</div>
								<div class="form-group">
									<input type="text" [(ngModel)]="horario" name="horario" id="horario" tabindex="1" class="form-control" placeholder="Horario" value="">			
								</div>
								<div class="form-group">
									<input type="text" [(ngModel)]="universidad" name="universidad" id="universidad" tabindex="1" class="form-control" placeholder="Número de grupo" value="">	
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button (click)="addGrupo()" class="form-control btn btn-addSub">AGREGAR GRUPO</button>
										</div>
									</div>
								</div>								
							</form>
						</div>
					</div>
					<hr>
				</div>				
			</div>
		</div>
	</div>
</div>

<!--<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-login">
				<div class="panel-heading">
					<table class="table text-center table-hover">
						<thead>
						<tr>
						  	<th>Temas</th>					  	
						  	<th>Operations</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let String of carreraObj.materias">
						  	<td>{{ String }}</td>
						  	<td>
						    	<button class="btn btn-danger" (click)="deleteTask(carrerasObj.materias.nombre)">
						      	<i class="fa fa-trash"></i>
						    	</button>
						  	</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button (click)="registerMalla()" class="form-control btn btn-register">REGISTRAR MAYA</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->