<!--<<html>
         <head>

                 <title>Registro de cursos</title>
         </head>
 	<body>	
    <form name="form" method="post" action="">
         <table width="393" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
			<tr>
                  <td colspan="2" align="center" bgcolor="#FFFFFF">
                  <span class="Estilo1">Registro de cursos</span> </td>
            </tr>
			<tr>
                <td width="110" bgcolor="#FFFFFF"><strong>Carrera</strong></td>
            <td>
                <select name="carrera-comboBox">
    			<option value="A">Administracion</option>
    			<option value="B">Ingeniería en computación</option>
    			<option value="-">ingeniería electrónica</option>
				</select>
			</td>
            </tr>
			<tr>
                 <td bgcolor="#FFFFFF"><strong>Nombre materia</strong></td>
                 <td bgcolor="#FFFFFF"><input name="nombreMateria" type="text"/></td>
                 
    		</tr>
			<tr>
      			<td bgcolor="#FFFFFF"><strong>Tema</strong></td>
      			<td bgcolor="#FFFFFF"><input name="tema" type="text" /></td>	
    		</tr>
    		<tr>
    			<td bgcolor="#FFFFFF"><strong>Sub temas</strong></td>
      			<td bgcolor="#FFFFFF"><input name="subTemas" type="text" /></td>
      			<p>
      			</p>
      			<td><button name="btn">Agregar</button></td>
    			<td><textarea rows="3" cols="20"></td>
					lista subtemas
				<td></textarea></td>
				<td><button name="btn">Registrar</button></td> 
			</tr>
		</table>
	</form>
</body>
</html>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Registro de cursos </a>
              </div>

              
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" method="post" role="form" style="display: block;">
                  <div class="form-group">
                    <div class="col-xs-6">
                    <a href="#" class="active" id="register-form-link">Carrera</a>
                  </div>
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>                  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <!--
                        <button (click)="login()" class="form-control btn btn-login">LOG IN</button>
                        -->
                        <button (click)="cargarProfesor()" class="form-control btn btn-login">LOG IN</button>
                      </div>
                    </div>
                  </div>                  
                </form>
                <form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="usernameR" id="usernameR" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="passwordR" id="passwordR" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
