<header>
	<label>Universidad: {{ user.universidad }} </label>
	<label>Escuela: {{ user.escuela }} </label>
	<label>Carrera: {{ user.carrera }} </label>
	<nav>
		<ul>
			<li><a (click)="matricula()">Matricula</a></li>
			<li><a (click)="malla()">Malla curricular</a></li>
			<li><a (click)="mensajes()">Mensajes</a></li>
		</ul>
	</nav>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-lg-12">	
					<div class="panel panel-login">
						<div class ="panel-heading">
							<table class="table text-center table-hover">
								<thead>
								<tr>
								  	<th>Grupo</th>
								  	<th># Grupo</th>
								  	<th>Profesor</th>
								  	<th></th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let curso of cursosMatriculados">
								  	<td class="text-left">{{ curso.nombre }}</td>
								  	<td class="text-left">{{ curso.numeroGrupo }}</td>
								  	<td class="text-left">{{ curso.profesor }}</td>
								  	<td class="text-center">
								    	<button (click)="verCurso(curso)" class = "btn btn-login">  VER CURSO </button>
								  	</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>